<div class="wrapper">
  <div class="sidebar" data-color="black">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="/" class="simple-text">Sneaker World</a>
      </div>

      <ul class="menu-left">
        <li>
          <a [routerLink]="['/cart']">Cart</a>
        </li>
        <li>
          <a [routerLink]="['/history']">History</a>
        </li>
        <li>
          <a [routerLink]="['/profile']">Profile</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Shop</a>
        </div>
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-right">

          </ul>

        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h3>Your Cart</h3>
        <div class="container-fluid">
          <div class="col-md-12">
            <table class="table">
              <tr>
                <th style="font-weight: inherit" scope="col">Shoes</th>
                <th style="font-weight: inherit" scope="col">Price</th>
                <th style="font-weight: inherit" scope="col">Quantity</th>
                <th style="font-weight: inherit" scope="col">Subtotal</th>
              </tr>
              <tr *ngFor="let shoes of this.shoesArr">
                <td style="font-weight: lighter">
                  <a [routerLink]="['/shoes/', shoes.shoes_id._id]" style="color: black">
                    {{shoes.shoes_id.name}}</a>
                </td>
                <td style="font-weight: lighter">{{shoes.shoes_id.shoes_prices[1]}} $</td>
                <td style="font-weight: lighter">
                  <input type="number" class="form-control txtQuantity" min="1" value="{{shoes.quantity}}"
                    (change)="onChange($event, shoes.shoes_id._id)">
                </td>
                <td style="font-weight: lighter">
                  {{shoes.shoes_id.shoes_prices[1] * shoes.quantity}} $</td>
                <td>
                  <button type="button" class="btn btn-info btn-danger" (click)="RemoveShoes(shoes.shoes_id._id)">
                    Remove
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total <p id="lbTotal">{{total}} $</p>
                </td>
              </tr>
            </table>
            <div class="row">
              <form>
                <div class="form-group">
                  <label for="confirmEmail">Email address</label>
                  <input type="email" class="form-control" id="confirmEmail"
                    placeholder="Enter email for receive notification to confirm"
                    value="{{this.emailConfirm}}" autofocus id="cfEmail">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
                </div>
                <button type="button" class="btn btn-info btn-default" (click)="BuyShoes()">
                  Buy
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">

        <p class="copyright pull-right">
          &copy;
          <script>document.write(new Date().getFullYear())</script> <a>SneakerFloat</a>
          , made with love for a better service
        </p>
      </div>
    </footer>
  </div>
</div>
